<div class="blog-container">
<section class="form-section">
  <h2>Crea tu noticia</h2>
  
  <div class="form-group"> <input type="text" [(ngModel)]="nuevaNoticia.titulo" placeholder="Título">
    <input type="text" [(ngModel)]="nuevaNoticia.imagen" placeholder="Ruta imagen">
    <input type="date" [(ngModel)]="nuevaNoticia.fecha">
    <textarea [(ngModel)]="nuevaNoticia.texto" placeholder="Texto de la noticia"></textarea>
    <button (click)="agregarNoticia()">Publicar</button>
  </div>
</section>

  <hr>

  <section class="list-section">
    <h2>Últimas noticias</h2>
    <div class="noticias-grid">
      @for (item of noticias; track item.titulo) {
        <article class="noticia-card">
          <img [src]="item.imagen" [alt]="item.titulo">
          <div class="card-content">
            <h3>{{ item.titulo }}</h3>
            <p class="fecha">{{ item.fecha }}</p>
            <p>{{ item.texto }}</p>
          </div>
        </article>
      }
    </div>
  </section>
</div>